.card {
  margin: 16px 0;
  padding: 16px;
  width: 80%;
  border: 1px solid #dbc3a8;
  border-radius: 20px;
  background: #e6c390;
}

.grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0;
  margin: 0;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 10px solid #f0ece8;
}
