.nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 64px;
  align-items: center;
}

.navbarfont {
  font-family: var(--font-sniglet);
  font-size: 18px;
  transition: 0.5s;
  color: inherit;
  text-decoration: none;
}

.navbarfont:hover {
  color: blue;
}

.underline {
  width: 100%;
  height: 10px;
  color: blue;
}
